<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    
    <h2>server vars</h2>

    <form action="/set_cur_version">
			current software version <input type="text" name="curVersion"><br>
			<input type="submit" value="set software version">
		</form>

    <form action="/set_point_speeds">
			base speed <input type="text" name="speed0"><br>
			god watching speed <input type="text" name="speed1"><br>
			<input type="submit" value="set point speeds">
		</form>

    <form action="/set_summon_frequency">
			summon frequency <input type="text" name="summonFrequency"><br>
			<input type="submit" value="set summon frequency">
		</form>


    <h2>app calls</h2>

		<form action="/get_current_sessions">
			<input type="submit" value="get current sessions">
		</form>

    <form action="/authenticate_user">
			deviceid <input type="text" name="deviceid"><br>
			version <input type="text" name="version"><br>
			p2p <input type="checkbox" name="p2p"><br>
			force <input type="checkbox" name="force"><br>
			<input type="submit" value="authenticate user">
		</form>

		<form action="/remove_user">
			deviceid <input type="text" name="deviceid"><br>
			<input type="submit" value="remove user">
		</form>

		<form action="/set_airship_token">
			deviceid <input type="text" name="deviceid"><br>
			deviceid <input type="text" name="airshiptoken"><br>
			<input type="submit" value="set airship token">
		</form>

		<form action="/user_session_started">
			deviceid <input type="text" name="deviceid"><br>
			<input type="submit" value="set user session started">
		</form>

		<form action="/user_session_ended">
			deviceid <input type="text" name="deviceid"><br>
			points <input type="text" name="points"><br>
			<input type="submit" value="set user session ended">
		</form>

		<form action="/enter_random_session">
			streaming <input type="checkbox" name="streaming"><br>
			<input type="submit" value="enter random session">
		</form>

		<form action="/enter_session">
			deviceid <input type="text" name="sessionid"><br>
			<input type="submit" value="enter session">
		</form>


		<form action="/god_ping">
			deviceid <input type="text" name="deviceid"><br>
			<input type="submit" value="god ping">
		</form>

		<form action="/ping">
			deviceid <input type="text" name="deviceid"><br>
			points <input type="text" name="points"><br>
			<input type="submit" value="ping">
		</form>

		<form action="/clear_db">
			<input type="submit" value="clear db">
		</form>

		<form action="/refresh_db">
			<input type="submit" value="refresh db">
		</form>

		<form action="/set_god">
			deviceid <input type="text" name="deviceid"><br>
			<input type="submit" value="set god">
		</form>

		<form action="/summon_eyes">
			<input type="submit" value="summon eyes god">
		</form>

		<form action="/god_status">
			<input type="submit" value="get god status">
		</form>

		<form action="/message_god">
			deviceid <input type="text" name="deviceid"><br>
			msg <input type="text" name="msg"><br>
			<input type="submit" value="message god">
		</form>

		<form action="/test_send">
			airshiptoken <input type="text" name="airshiptoken"><br>
			<input type="submit" value="test send">
		</form>

  </body>
</html>
